<h2>Autentificare</h2>
<% if (errMsg) { %>
    <p style="color: red;"><%= errMsg %></p>
<% } %>
<form method="POST" action="/verificare-autentificare">
    <label for="utilizator">Utilizator:</label>
    <input type="text" id="utilizator" name="utilizator" required>
    
    <br>

    <label for="parola">Parolă:</label>
    <input type="password" id="parola" name="parola" required>
    
    <br>

    <button type="submit">Autentificare</button>
</form>
